
.ht-btn {
  font-size: 15px;
  font-weight: 500;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  padding: 0 36px;
  text-align: center;
  color: #ffffff;
  background: #b41525;
  border-width: 1px;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.ht-btn:hover, .ht-btn:active, .ht-btn:focus {
  color: #ffffff;
  background-image: #b41525;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.ht-btn.ht-btn-xs {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  padding: 0 20px;
}

.ht-btn.ht-btn-sm {
  padding: 0 30px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
}

.ht-btn.ht-btn-md {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 54px;
  height: 54px;
}

.ht-btn.ht-btn-lg {
  padding: 0 40px;
  height: 64px;
  line-height: 64px;
  font-size: 16px;
}

.ht-btn.ht-btn-custom {
  min-width: 280px;
}

.ht-btn.ht-btn-full {
  width: auto;
  display: block;
}

.ht-btn--outline {
  border-width: 1px;
  line-height: 54px;
  background: transparent;
  border-color: #b41525;
  color: #b41525;
}

.ht-btn--outline:hover, .ht-btn--outline:focus, .ht-btn--outline:active {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  border-color: transparent;
  background: #b41525;
  color: #ffffff;
}

.ht-btn--solid {
  border-width: 1px;
  line-height: 54px;
  background: transparent;
  border-color: #ddd;
  color: #b41525;
}

.ht-btn--solid:hover, .ht-btn--solid:focus, .ht-btn--solid:active {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  border-color: transparent;
  background: #b41525;
  color: #ffffff;
}

.ht-btn--circle {
  border-radius: 30px;
}

.ht-btn--no-round {
  border-radius: 0px;
}

.ht-btn.ht-btn-default {
  padding: 0 30px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  width: 180px;
}

.ht-btn .btn-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  font-size: 20px;
  margin-left: 10px;
}

.btn {
  font-size: 15px;
  font-weight: 500;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  border: 1px solid transparent;
  padding: 0 36px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  height: 54px;
  line-height: 54px;
  letter-spacing: 0em;
  color: #ffffff;
  background: #b41525;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.btn:hover, .btn:active, .btn:focus {
  font-weight: 500;
  color: #ffffff;
  background: #b41525;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn--secondary {
  background-image: none;
  background-color: #d2a98e;
}

.btn--secondary:hover {
  background-image: none;
  background: #d2a98e;
}

.btn--black {
  background-image: none;
  background-color: #000000;
}

.btn--black:hover {
  background-image: none;
  background: #000000;
}

.btn--white {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
}

.btn--white:hover, .btn--white:focus {
  background-image: none;
  background: #ffffff;
  color: #000000;
}

.btn--gradient {
  background-image: none;
  background: -webkit-linear-gradient(300deg, #FF3F85 0, #FAA720 100%) !important;
  background: -o-linear-gradient(300deg, #FF3F85 0, #FAA720 100%) !important;
  background: linear-gradient(150deg, #FF3F85 0, #FAA720 100%) !important;
}

.btn--gradient:hover {
  background-image: none;
  background: -webkit-linear-gradient(300deg, #FF3F85 0, #FAA720 100%);
  background: -o-linear-gradient(300deg, #FF3F85 0, #FAA720 100%);
  background: linear-gradient(150deg, #FF3F85 0, #FAA720 100%);
}

.btn--link {
  color: #b41525;
}

.btn--link:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.btn.ht-btn-default {
  padding: 0 30px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  width: 180px;
}

.hover-style-link {
  position: relative;
}

.hover-style-link:after {
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #d2a98e;
}

.hover-style-link:hover {
  color: #d2a98e;
}

.hover-style-link:hover:after {
  left: 0;
  width: 100%;
  right: auto;
}

.hover-style-link--secondary {
  color: #d2a98e;
}

.hover-style-link--secondary:after {
  background-color: #d2a98e;
}

.hover-style-link--secondary:hover {
  color: #d2a98e;
}

.hover-style-link--white {
  color: #ffffff;
}

.hover-style-link--white:after {
  background-color: #ffffff;
}

.hover-style-link--white:hover {
  color: #ffffff;
}

.hover-style-link--sub-color {
  color: #6d70a6;
}

.hover-style-link--sub-color:after {
  background-color: #6d70a6;
}

.hover-style-link--sub-color:hover {
  color: #6d70a6;
}

.hover-style-default {
  position: relative;
}

.hover-style-default:after {
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #b41525;
}

.hover-style-default:hover {
  color: #b41525;
}

.hover-style-default:hover:after {
  left: 0;
  width: 100%;
  right: auto;
}

/* Images Button */
.image-btn {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  border-radius: 5px;
  overflow: hidden;
}

/* video pay link */
.video-play i {
  color: #d2a98e;
}

.video-play span {
  font-weight: 500;
  letter-spacing: 3px;
  margin-left: 10px;
}

/* button wrapper */
.button-wrapper > a {
  border: none;
}

@media only screen and (max-width: 479px) {
  .button-wrapper > a {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 479px) {
  .button-wrapper > a:last-child {
    margin-bottom: 0;
  }
}

/* Text Button*/
.btn-text {
  color: #b41525;
}

.btn-text:hover {
  color: #d2a98e;
}

.single-button-group h5 {
  margin-bottom: 10px;
}

.single-button-group .button-group-wrap {
  margin-left: -10px;
  margin-right: -10px;
}

.single-button-group a {
  margin: 10px;
}

.single-button-group a:hover, .single-button-group a:active, .single-button-group a:focus {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
